# OS
.DS_Store
Thumbs.db

# Éditeur
.vscode/
.idea/
*.swp

# Environnement
.env
.env.local
.env.production

# Node (si tu utilises des outils locaux)
node_modules/

# Build Vite
dist/

# Divers
*.log
